<template>
  <div class="animated fadeIn">
    <b-alert variant="danger"
             dismissible
             :show="showErrorAlert"
             @dismissed="showErrorAlert=false">
      {{error}}
    </b-alert>

    <loading
      v-if="isLoading"
      :loadingMessage="loadingMessage"
      :isGiphy="false">
    </loading>

    <div v-for="(containerGroup, index) in containerGroups"
         v-bind:key="containerGroup.id"
         v-if="containerGroup.containers.length">
      <b-btn class="collapse-button" v-b-toggle="containerGroup.id" variant="primary">{{containerGroup.groupName}} <i class="fa"></i></b-btn>
      <b-collapse :id="containerGroup.id" class="mt-2">
        <div class="row">
          <docker-card
            v-for="(container, index) in containerGroup.containers"
            v-bind:key="container.id"
            v-bind:container="container">
          </docker-card>
        </div>
      </b-collapse>
    </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import DockerCard from '@/components/DockerCard';
import requestService from '@/services/request';

export default {
  name: 'docker',
  data() {
    return {
      loadingMessage: 'Loading containers data from Docker...',
      isLoading: false,
      showErrorAlert: false,
      error: null,
      containerGroups: null,
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.containerGroups = null;
      this.isLoading = true;
      this.$http.get(`${process.env.API_URL}/docker`)
        .then((response) => {
          this.isLoading = false;
          this.containerGroups = response.body;
        })
        .catch(requestService.handleError.bind(this));
    },
  },
  components: {
    Loading,
    DockerCard,
  },
};
</script>

<style scoped>
  .collapse-button {
    margin: 15px 0;
  }

  .collapse-button[aria-expanded="false"] i:before{
    content: "\f139";
    margin-left: 5px;
  }

  .collapse-button[aria-expanded="true"] i:before{
    content: "\f13a";
    margin-left: 5px;
  }
</style>
