<template>
  <div class="animated fadeIn">
    <b-alert variant="danger"
             dismissible
             :show="showErrorAlert"
             @dismissed="showErrorAlert=false">
      {{error}}
    </b-alert>

    <loading
      v-if="isLoading"
      :loadingMessage="loadingMessage"
      :isGiphy="false">
    </loading>

    <div class="row">
      <div class="col-lg-12">

        <b-card header="<i class='fa fa-align-justify'></i> History">
          <table class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th>Deployment Date</th>
                <th>Environment</th>
                <th>Back-End Version</th>
                <th>Front-End Version</th>
                <th>Keep Data</th>
                <th>Instable Back</th>
                <th>Instable Front</th>
                <th>Deployment Result</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(deployment, index) in deployments" v-bind:key="deployment.id">
                <td>{{ deployment.deploymentDate | moment("dddd, MMMM Do YYYY, h:mm:ss a")}}</td>
                <td>{{ deployment.environment }}</td>
                <td>{{ deployment.backVersion }}</td>
                <td>{{ deployment.frontVersion }}</td>
                <td>{{ deployment.keepData }}</td>
                <td>{{ deployment.instableBack }}</td>
                <td>{{ deployment.instableFront }}</td>
                <td>
                  <b-badge :variant="variantType(deployment.status)">{{ deployment.status }}</b-badge>
                </td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import requestService from '@/services/request';

export default {
  name: 'history',
  data() {
    return {
      loadingMessage: 'Loading deployments data from database...',
      isLoading: false,
      showErrorAlert: false,
      error: null,
      deployments: null,
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.deployments = null;
      this.isLoading = true;
      this.$http.get(`${process.env.API_URL}/deploy`)
        .then((response) => {
          this.isLoading = false;
          this.deployments = response.body.reverse();
        })
        .catch(requestService.handleError.bind(this));
    },
    variantType(status) {
      if (!status) return '';
      switch (status) {
        case 'CREATED':
          return 'warning';
        case 'DEPLOYED':
          return 'success';
        case 'FAILED':
          return 'danger';
        default:
          return status;
      }
    },
  },
  components: {
    Loading,
  },
};
</script>
