<template>
  <div class="col-sm-6 col-lg-3">
    <b-card class="text-white" :class="background">
      <b-alert variant="danger"
             dismissible
             :show="showErrorAlert"
             @dismissed="showErrorAlert=false">
        {{error}}
      </b-alert>

      <div class="d-flex align-items-end flex-column">
        <c-switch @change="handleContainerState" type="text" variant="success" on="On" off="Off" :pill="true" :checked="state"/>
      </div>
      <div class="container-info">
        <div class="h4 m-0">{{container.name}}</div>
        <small class="text-muted">{{container.id}}</small>
        <div>Port: {{container.port}}</div>
        <div>Image: {{container.image}}</div>
        <div>State: {{container.state}}</div>
        <div>Status: {{container.status}}</div>
      </div>
      <div class="container-actions text-center">
        <b-button @click="restartContainer" variant="secondary"><i class="fa fa-refresh"></i> Restart</b-button>
        <b-button @click="accessContainer" variant="secondary"><i class="fa fa-sign-in"></i>&nbsp;Access</b-button>
        <loading
          v-if="isLoading"
          :loadingMessage="loadingMessage"
          :isGiphy="true">
        </loading>
      </div>
    </b-card>
  </div>
</template>
<script>
import requestService from '@/services/request';
import Loading from '@/components/Loading';
import cSwitch from './Switch';

export default {
  name: 'docker-card',
  props: {
    container: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      loadingMessage: '',
      isLoading: false,
      showErrorAlert: false,
      error: null,
    };
  },
  methods: {
    restartContainer() {
      this.loadingMessage = 'Restarting container...';
      this.isLoading = true;
      this.$http.get(`${process.env.API_URL}/docker/restart/${this.container.id}`)
        .then(() => {
          this.$toasted.show('Container restarted with success !');
          this.isLoading = false;
        })
        .catch(requestService.handleError.bind(this));
    },

    accessContainer() {
      window.open(`${process.env.HOST}:${this.container.port}`);
    },

    handleContainerState(value) {
      this.isLoading = true;
      let request = null;
      if (value) {
        this.loadingMessage = 'Starting container...';
        request = this.$http.get(`${process.env.API_URL}/docker/start/${this.container.id}`);
      } else {
        this.loadingMessage = 'Stopping container...';
        request = this.$http.get(`${process.env.API_URL}/docker/stop/${this.container.id}`);
      }
      request
        .then((response) => {
          if (response.url.includes('start')) {
            this.$toasted.show('Container started with success !');
          } else if (response.url.includes('stop')) {
            this.$toasted.show('Container stopped with success !');
          } else {
            this.$toasted.show('Success !');
          }
          this.isLoading = false;
        })
        .catch(requestService.handleError.bind(this));
    },
  },
  computed: {
    background() {
      const state = this.container.state;
      if (!state) return '';
      switch (state) {
        case 'running':
          return 'bg-primary';
        case 'restarting':
        case 'paused':
          return 'bg-warning';
        case 'exited':
          return 'bg-danger';
        default:
          return 'bg-secondary';
      }
    },

    state() {
      return this.container.state === 'running';
    },
  },
  components: {
    Loading,
    cSwitch,
  },
};
</script>

<style scoped>
  .container-info {
    margin-bottom: 15px;
  }
</style>
