<template>
  <b-button v-if="isAPiouPiou" @click.prevent="sayHelloToThomas" variant="outline-primary" class="pioupiou">🥚🐣🐥🐓</b-button>
</template>
<script>
import requestService from '@/services/request';

export default {
  name: 'header-dropdown',
  methods: {
    sayHelloToThomas() {
      this.$http.post(`${process.env.API_URL}/slack/say-hello-to-thomas`, {}).then((response) => {
        if (response.ok) {
          this.$toasted.show('Thomas has been notified !');
        }
      }, requestService.handleError.bind(this));
    },
  },
  computed: {
    isAPiouPiou() {
      if (this.$localStorage.get('username')) {
        const username = this.$localStorage.get('username');
        return ['toto', 'thomas', 'hugo'].includes(username.toLowerCase());
      }
      return false;
    },
  },
};
</script>

<style lang="scss" scoped>
  .pioupiou {
    margin-right: 10px;
  }
</style>
