<template>
  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button" @click="mobileSidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <b-link class="navbar-brand" to="Dashboard"><span>Night's Watch</span></b-link>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" @click="sidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <header-dropdown/>
  </header>
</template>
<script>
  import HeaderDropdown from './HeaderDropdown';

  export default {
    name: 'header',
    components: {
      HeaderDropdown,
    },
    methods: {
      sidebarToggle(e) {
        e.preventDefault();
        document.body.classList.toggle('sidebar-hidden');
      },
      sidebarMinimize(e) {
        e.preventDefault();
        document.body.classList.toggle('sidebar-minimized');
      },
      mobileSidebarToggle(e) {
        e.preventDefault();
        document.body.classList.toggle('sidebar-mobile-show');
      },
      asideToggle(e) {
        e.preventDefault();
        document.body.classList.toggle('aside-menu-hidden');
      },
    },
  };
</script>
<style lang="scss" scoped>
  .app-header.navbar {
    .navbar-toggler {
      margin-right: auto;
    }

    .navbar-brand {
      background-position: 0.25rem center;
      background-size: 45px auto;
      padding: 0;

      span {
        display: inline-block;
        margin-left: 55px;
        font-size: .9rem;
        line-height: 55px;
        opacity: 1;
        transition: all .2s ease-in-out;
      }
    }
  }

  @media (min-width: 992px) {
    .brand-minimized .app-header.navbar .navbar-brand span {
      opacity: 0;
      transform: translateX(-100px);
    }
  }
</style>
