<template>
  <div class="loading-wrapper">
    <spinner :message="loadingMessage"></spinner>
    <div class="giphy-wrapper">
      <img v-if="isGiphy" :src="giphySrc" class="mx-auto">
    </div>
  </div>
</template>

<script>
  import Spinner from 'vue-simple-spinner';
  import requestService from '@/services/request';

  export default {
    name: 'loading',
    data() {
      return {
        giphySrc: null,
      };
    },
    props: {
      loadingMessage: {
        type: String,
        required: false,
        default: () => 'Loading...',
      },
      isGiphy: {
        type: Boolean,
        required: false,
        default: () => false,
      },
      giphySubject: {
        type: String,
        required: false,
        default: () => 'waiting',
      },
    },
    created() {
      this.fetchGiphy();
    },
    methods: {
      fetchGiphy() {
        this.giphySrc = null;
        this.$http.get('https://api.giphy.com/v1/gifs/search', {
          params: {
            api_key: 'dc6zaTOxFJmzC',
            q: this.giphySubject,
            limit: 25,
            rating: 'g',
          },
        })
          .then((response) => {
            if (response.body.data.length) {
              const random = Math.floor(Math.random() * 25);
              this.giphySrc = response.body.data[random].images.original.url;
            }
          })
          .catch(requestService.handleError.bind(this));
      },
    },
    components: {
      Spinner,
    },
  };
</script>

<style lang="scss" scoped>
  .giphy-wrapper {
    margin-top: 1.5rem;

    img {
      display: block;
    }
  }
</style>

